@import "src/assets/variables";


.text__error{
  color: darkred;
}

.login__form{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2vh;
}

.login__form>button{
  border-radius: $border-radius;
  background-color: $dark-orange;
  color: white;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 0;
}
@media screen and (min-width:820px){

}

@media screen and (min-width:1180px){
  .login__form{
    background-color: $light-orange;
    padding: 10px 10px;
    border-radius: $border-radius;
    width: 30%;

  }
}

