@import "src/assets/variables";

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 11vh;
  background: $green;
}

footer>p, footer>ul>li>a {
  font-family: 'Poppins', sans-serif;
  color: white;
}

footer>p{
  font-size: small;
  margin-bottom: 1vh;
}

footer>ul{
  display: flex;
  gap: 2vw;
}

footer>ul>li{
  list-style-type: none;
}